version: "3.8"

services:
  api:
    build: ./app
    container_name: api_service
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - redis
    networks:
        - net

  redis:
    image: redis:7-alpine
    container_name: redis_cache
    ports:
      - "6379:6379"
    volumes:
      - ./redis_data:/data
    networks:
        - net 

networks:
  net:
    driver: bridge

